services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app_dev
    working_dir: /var/www
    volumes:
      - .:/var/www
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    container_name: laravel_nginx_dev
    ports:
      - "8000:80"
    volumes:
      - .:/var/www
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: laravel_db_dev
    environment:
      MYSQL_DATABASE: jadwal_belajar
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
    ports:
      - "3306:3306"

  phpmyadmin:
    image: phpmyadmin
    container_name: phpmyadmin_dev
    ports:
      - "8080:80"
    depends_on:
      - db
    environment:
      - PMA_HOST=laravel_db_dev
